.button {
    display: block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:deepskyblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 100%;
    margin: 5%;
}

.button:hover {background-color: dodgerblue}

.button:active {
  background-color: dodgerblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-grp{
    width: 40%;
    margin:auto;
}
body{
background-image: url("C:\Users/Abhisheka Raman/Documents/LBSIM/assignments/DBMS/images/bg_login.jpg");
}#logo{
	float:left;
	width: 10%;
	height:auto;
	margin:-20px 0px;
}
#head{
	text-align:center;
}
header{
	color:white;
	padding: 20px;
}