#logo{
	float:left;
    max-width: 10%;
    min-width: 10%;
	height:auto;
	margin:-20px 0px;
}
#head{
	text-align:center;
    font-size: 200%;
}
header{
	background-color:skyblue;
	padding: 20px;
    border-radius: 30px;
    color:white;
}
#login{
    background-color:azure;
    margin:10% auto;
    width:30vw;
    text-align: center;
    border-radius: 20px;
}
#login label{
    margin:0px;
    padding: 5px;
    width: 100%;
    border-radius: 40px;
    text-shadow: 0.5px 0.5px 4px grey,-1px -1px 5px grey;
}
body{
    background-color: whitesmoke;
background-image: url("C:\Users/Abhisheka Raman/Documents/LBSIM/assignments/DBMS/images/bg_login.jpg");
}
#enroll{
    margin:auto 30%;
}
.button {
    display: block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:deepskyblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 100%;
    margin: 5%;
}

.button:hover {background-color: dodgerblue}

.button:active {
  background-color: dodgerblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-grp{
    width: 40%;
    margin:auto;
}
